Repository celo-org/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives, @celo-org/devtooling

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# See [Github Documentation](https://help.github.com/articles/about-codeowners/).

# Default ownership - DevRel team owns all documentation
* @celo-org/devrel 

# Build on Celo section - DevRel team
/build-on-celo/ @celo-org/devrel

# Home section (protocol, manage, etc.) - Blockchain and Primitives teams
/home/ @celo-org/blockchain @celo-org/primitives
/home/protocol/ @celo-org/blockchain @celo-org/primitives

# Contribute to Celo section - DevRel team
/contribute-to-celo/ @celo-org/devrel

# Infrastructure Partners section - Blockchain team (was cel2)
/infra-partners/ @celo-org/blockchain

# Legacy section - Blockchain team (L1 content)
/legacy/ @celo-org/blockchain

# Tooling section
/tooling/ @celo-org/devrel

# CLI tools - DevRel and DevTooling teams
/tooling/libraries-sdks/cli/ @celo-org/devrel @celo-org/devtooling

# ContractKit - DevRel and DevTooling teams
/tooling/libraries-sdks/contractkit/ @celo-org/devrel @celo-org/devtooling

# Development environments (was developer/deploy) - DevRel and Primitives teams
/tooling/dev-environments/ @celo-org/devrel @celo-org/primitives

# SDK libraries - DevRel and DevTooling teams
/tooling/libraries-sdks/rainbowkit-celo/ @celo-org/devrel @celo-org/devtooling
/tooling/libraries-sdks/viem/ @celo-org/devrel @celo-org/devtooling
/tooling/libraries-sdks/ @celo-org/devrel @celo-org/devtooling

# Smart contracts - Primitives team
/tooling/contracts/ @celo-org/primitives

# Network/Node operations - DevRel and Blockchain teams
/tooling/testnets/ @celo-org/devrel @celo-org/blockchain
/tooling/nodes/ @celo-org/devrel @celo-org/blockchain

# Configuration files
/docs.json @celo-org/devrel
/.github/ @celo-org/devrel

Remove old testnets from bridging docs
  home/bridged-tokens/native-ETH-bridging.mdx
Owners: @celo-org/blockchain, @celo-org/primitives

update branches to main in links (#2067)
  tooling/libraries-sdks/cli/autocomplete.mdx
  tooling/libraries-sdks/cli/commands.mdx
  tooling/libraries-sdks/cli/help.mdx
Owners: @celo-org/devrel, @celo-org/devtooling

- add stablecoin addresses on mainnet and testnet - move stablecoin addresses into separate page - update info on main home page
  build-on-celo/build-with-defi.mdx
  build-on-celo/build-with-local-stablecoin.mdx
  home/index.mdx
Owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives

- remove alfajores from tooling section - remove learn section - remove alfajores from tutorials
  build-on-celo/build-on-minipay/code-library.mdx
  build-on-celo/build-on-minipay/quickstart.mdx
  build-on-celo/build-with-thirdweb/celo-nft-drop-tutorial.mdx
  build-on-celo/build-with-thirdweb/one-click quickstart.mdx
  docs.json
  home/bridged-tokens/bridges.mdx
  home/bridged-tokens/native-ETH-bridging.mdx
  home/manage/self-custody.mdx
  learn/Celo-payments.mdx
  learn/celo-resources.mdx
  legacy/faq.mdx
  tooling/bridges/bridges.mdx
  tooling/bridges/cross-chain-messaging.mdx
  tooling/contract-verification/foundry.mdx
  tooling/contract-verification/hardhat.mdx
  tooling/contract-verification/remix.mdx
  tooling/dev-environments/thirdweb/one-click-deploy.mdx
  tooling/explorers/block-explorers.mdx
  tooling/libraries-sdks/celo-sdks.mdx
  tooling/libraries-sdks/particle-network/index.mdx
  tooling/nodes/overview.mdx
  tooling/overview/fee-abstraction.mdx
  tooling/overview/setup/wallet.mdx
Owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives, @celo-org/devtooling

remove learn section
  docs.json
  learn/CELO-coin-summary.mdx
  learn/add-gas-currency.mdx
  learn/celo-economic-model.mdx
  learn/celo-ecosystem.mdx
  learn/celo-highlights.mdx
  learn/celo-milestones.mdx
  learn/celo-onboarding.mdx
  learn/celo-overview.mdx
  learn/celo-protocol-summary.mdx
  learn/celo-protocol.mdx
  learn/celo-stack.mdx
  learn/celo-summary.mdx
  learn/celo-whitepapers.mdx
  learn/developer-onboarding.mdx
  learn/key-concepts.mdx
  learn/platform-native-stablecoins-summary.mdx
  learn/topology-of-a-celo-network.mdx
  learn/why-celo.mdx
Owners: @celo-org/devrel

replace about-celo with what-is-celo link
  _deprecated/what-is-celo/using-celo/index.mdx
  docs.json
  home/celo.mdx
  home/index.mdx
Owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives

- add stablecoin addresses on mainnet and testnet (#2069)
  build-on-celo/build-with-defi.mdx
  build-on-celo/build-with-local-stablecoin.mdx
  home/index.mdx
Owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives

- fix redirects to home - fix history url
  _deprecated/what-is-celo/using-celo/index.mdx
  docs.json
  home/celo.mdx
  home/index.mdx
Owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives

change redirects form developer to tooling
  docs.json
Owners: @celo-org/devrel

update minipay code library to celo sepolia
  build-on-celo/build-on-minipay/code-library.mdx
Owners: @celo-org/devrel

update minipay code library to celo sepolia
  build-on-celo/build-on-minipay/code-library.mdx
Owners: @celo-org/devrel

fix link to home
  _deprecated/what-is-celo/using-celo/index.mdx
  home/celo.mdx
Owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives

chore: remove redundant /home redirect to /home/index
  docs.json
Owners: @celo-org/devrel
