Repository celo-org/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives, @celo-org/devtooling

Add comprehensive CELO blockchain sync modes documentation
  learn/celo-blockchain-sync-modes.md
Owners: @celo-org/devrel

tabs: Move 'Partners' after 'Contribute'
  docs.json
Owners: @celo-org/devrel

tabs: Move 'Partners' after 'Contribute' (#2052)
  docs.json
Owners: @celo-org/devrel

Remove old testnets (#2049)
  README.md
  docs.json
  tooling/testnets/alfajores/disclaimer.mdx
  tooling/testnets/alfajores/index.mdx
  tooling/testnets/baklava/disclaimer.mdx
  tooling/testnets/baklava/index.mdx
  tooling/testnets/mainnet/disclaimer.mdx
  tooling/testnets/mainnet/index.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

feat: add Uniswap v4 contract addresses for Celo mainnet
  tooling/contracts/uniswap-contracts.mdx
Owners: @celo-org/primitives

docs: add Nightfall privacy layer integration guide to documentation
  docs.json
  infra-partners/integration/nightfall.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

docs: update links and add faucet to navigation menu
  docs.json
  glossary.mdx
Owners: @celo-org/devrel

feat: add Uniswap v4 contract addresses for Celo mainnet (#2053)
  tooling/contracts/uniswap-contracts.mdx
Owners: @celo-org/primitives

contracts: Small updates
  tooling/contracts/token-contracts.mdx
  tooling/contracts/uniswap-contracts.mdx
Owners: @celo-org/primitives

docs: add Nightfall privacy layer integration guide to documentation (#2054)
  docs.json
  infra-partners/integration/nightfall.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

fix: update multisig structure and correct FeeCurrency contract reference in documentation
  .gitignore
  home/protocol/consensus.mdx
  home/protocol/transactions/overview.mdx
  tooling/libraries-sdks/web3/index.mdx
Owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives, @celo-org/devtooling

Updated dRPC entry
  tooling/nodes/overview.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

docs: move Nightfall docs from infra-partners to build-on-celo section
  build-on-celo/nightfall.mdx
  docs.json
Owners: @celo-org/devrel

docs: move Nightfall docs from infra-partners to build-on-celo section (#2059)
  build-on-celo/nightfall.mdx
  docs.json
Owners: @celo-org/devrel

docs: update links and add faucet to navigation menu (#2055)
  docs.json
  glossary.mdx
Owners: @celo-org/devrel

contracts: Small updates (#2056)
  tooling/contracts/token-contracts.mdx
  tooling/contracts/uniswap-contracts.mdx
Owners: @celo-org/primitives

Celo Plumo docs
  docs.json
  tooling/plumo/index.mdx
  tooling/plumo/verification-phase-1.mdx
Owners: @celo-org/devrel

rounds
  tooling/plumo/index.mdx
Owners: @celo-org/devrel

How to verify the Celo Plumo Ceremony Phase 1
  tooling/plumo/index.mdx
  tooling/plumo/verification-phase-1.mdx
Owners: @celo-org/devrel

update symbol for CELO on Celo Sepolia
  build-on-celo/build-with-ai/examples/ai-memecoins.mdx
  tooling/wallets/coinbase-wallet.mdx
  tooling/wallets/metamask/add-celo-testnet-to-metamask.mdx
  tooling/wallets/metamask/setup.mdx
Owners: @celo-org/devrel

update symbol for CELO on Celo Sepolia (#2061)
  build-on-celo/build-with-ai/examples/ai-memecoins.mdx
  tooling/wallets/coinbase-wallet.mdx
  tooling/wallets/metamask/add-celo-testnet-to-metamask.mdx
  tooling/wallets/metamask/setup.mdx
Owners: @celo-org/devrel

Celo Plumo docs (#2060)
  docs.json
  tooling/plumo/index.mdx
  tooling/plumo/verification-phase-1.mdx
Owners: @celo-org/devrel

Add L1 Fusaka notice
  docs.json
  infra-partners/notices/l1-fusaka-upgrade.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

fix: update multisig structure and correct FeeCurrency contract reference in documentation (#2057)
  .gitignore
  home/protocol/consensus.mdx
  home/protocol/transactions/overview.mdx
  tooling/libraries-sdks/web3/index.mdx
Owners: @celo-org/devrel, @celo-org/blockchain, @celo-org/primitives, @celo-org/devtooling

Add link to Phase 1 verification
  tooling/plumo/index.mdx
Owners: @celo-org/devrel

Add link to Phase 1 verification (#2063)
  tooling/plumo/index.mdx
Owners: @celo-org/devrel

fix redirect for txs types and contributing to celo
  docs.json
Owners: @celo-org/devrel

fix redirect for txs types and contributing to celo (#2064)
  docs.json
Owners: @celo-org/devrel

Add L1 Fusaka notice (#2062)
  docs.json
  infra-partners/notices/l1-fusaka-upgrade.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

Mark Icecream HF as actived
  infra-partners/notices/eigenda-v2-upgrade.mdx
Owners: @celo-org/blockchain

Add Jello HF notice
  docs.json
  infra-partners/notices/jello-upgrade.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

sepolia: Update ledger page
  tooling/wallets/ledger/to-celo-cli.mdx
Owners: @celo-org/devrel

Remove Alfajores from metamask page
  tooling/wallets/metamask/setup.mdx
Owners: @celo-org/devrel

Remove ALfajores from CB Wallet page
  tooling/wallets/coinbase-wallet.mdx
Owners: @celo-org/devrel

Remove old testnets from overview
  tooling/overview/network-overview.mdx
Owners: @celo-org/devrel

sepolia: Update Forno page
  tooling/nodes/forno.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

Remove more mentions of old networks
  infra-partners/integration/general.mdx
Owners: @celo-org/blockchain

Sepolia updates (#2066)
  infra-partners/integration/general.mdx
  tooling/nodes/forno.mdx
  tooling/overview/network-overview.mdx
  tooling/wallets/coinbase-wallet.mdx
  tooling/wallets/ledger/to-celo-cli.mdx
  tooling/wallets/metamask/setup.mdx
Owners: @celo-org/blockchain, @celo-org/devrel

Updated dRPC entry (#2058)
  tooling/nodes/overview.mdx
Owners: @celo-org/devrel, @celo-org/blockchain

update branches to main in links
  tooling/libraries-sdks/cli/autocomplete.mdx
  tooling/libraries-sdks/cli/commands.mdx
  tooling/libraries-sdks/cli/help.mdx
Owners: @celo-org/devrel, @celo-org/devtooling

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# See [Github Documentation](https://help.github.com/articles/about-codeowners/).

# Default ownership - DevRel team owns all documentation
* @celo-org/devrel 

# Build on Celo section - DevRel team
/build-on-celo/ @celo-org/devrel

# Home section (protocol, manage, etc.) - Blockchain and Primitives teams
/home/ @celo-org/blockchain @celo-org/primitives
/home/protocol/ @celo-org/blockchain @celo-org/primitives

# Contribute to Celo section - DevRel team
/contribute-to-celo/ @celo-org/devrel

# Infrastructure Partners section - Blockchain team (was cel2)
/infra-partners/ @celo-org/blockchain

# Legacy section - Blockchain team (L1 content)
/legacy/ @celo-org/blockchain

# Tooling section
/tooling/ @celo-org/devrel

# CLI tools - DevRel and DevTooling teams
/tooling/libraries-sdks/cli/ @celo-org/devrel @celo-org/devtooling

# ContractKit - DevRel and DevTooling teams
/tooling/libraries-sdks/contractkit/ @celo-org/devrel @celo-org/devtooling

# Development environments (was developer/deploy) - DevRel and Primitives teams
/tooling/dev-environments/ @celo-org/devrel @celo-org/primitives

# SDK libraries - DevRel and DevTooling teams
/tooling/libraries-sdks/rainbowkit-celo/ @celo-org/devrel @celo-org/devtooling
/tooling/libraries-sdks/viem/ @celo-org/devrel @celo-org/devtooling
/tooling/libraries-sdks/ @celo-org/devrel @celo-org/devtooling

# Smart contracts - Primitives team
/tooling/contracts/ @celo-org/primitives

# Network/Node operations - DevRel and Blockchain teams
/tooling/testnets/ @celo-org/devrel @celo-org/blockchain
/tooling/nodes/ @celo-org/devrel @celo-org/blockchain

# Configuration files
/docs.json @celo-org/devrel
/.github/ @celo-org/devrel
