Repository celo-org/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @celo-org/devrel, @celo-org/devtooling, @celo-org/primitives, @celo-org/devopsre

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# See [Github Documentation](https://help.github.com/articles/about-codeowners/).

* @celo-org/devrel 
/docs/cli/ @celo-org/devrel @celo-org/devtooling
/docs/developer/contractkit/ @celo-org/devrel @celo-org/devtooling
/docs/developer/deploy/ @celo-org/devrel @celo-org/primitives
/docs/developer/rainbowkit-celo/ @celo-org/devrel @celo-org/devtooling
/docs/developer/react-celo/ @celo-org/devrel @celo-org/devtooling
/docs/developer/sdks/ @celo-org/devrel @celo-org/devtooling
/docs/developer/viem/ @celo-org/devrel @celo-org/devtooling
/docs/network/node/ @celo-org/devrel @celo-org/devopsre
/docs/protocol/identity/ @celo-org/devrel @celo-org/primitives

fix: generate fixed ids when copying the cli files
  scripts/copy-generated-docs.sh
Owners: @celo-org/devrel

chore: regenerate cli anchor ids
  docs/cli/autocomplete.md
  docs/cli/commands.md
  docs/cli/config.md
  docs/cli/dkg.md
  docs/cli/election.md
  docs/cli/exchange.md
  docs/cli/governance.md
  docs/cli/grandamento.md
  docs/cli/help.md
  docs/cli/identity.md
  docs/cli/index.md
  docs/cli/lockedgold.md
  docs/cli/multisig.md
  docs/cli/network.md
  docs/cli/node.md
  docs/cli/oracle.md
  docs/cli/plugins.md
  docs/cli/releasecelo.md
  docs/cli/reserve.md
  docs/cli/rewards.md
  docs/cli/transfer.md
  docs/cli/utils.md
  docs/cli/validator.md
  docs/cli/validatorgroup.md
Owners: @celo-org/devrel, @celo-org/devtooling

fix: broken links
  docs/community/contributing.md
  docs/community/release-process/attestation-service.md
  docs/community/release-process/celo-oracles.md
  docs/community/release-process/smart-contracts.md
  docs/developer/build-on-minipay/code-library.mdx
  docs/developer/contractkit/usage.md
  docs/developer/dappkit/index.md
  docs/developer/dappkit/setup.md
  docs/developer/dappkit/usage.md
  docs/developer/deploy/foundry.md
  docs/developer/dynamic/index.md
  docs/developer/index.md
  docs/developer/launch-checklist.md
  docs/developer/migrate/from-ethereum.md
  docs/developer/react-celo/index.md
  docs/developer/setup/wallet.md
  docs/developer/tools.md
  docs/developer/verify/foundry.md
  docs/developer/walkthrough/no-code-erc20.md
  docs/holder/manage/exchange.md
  docs/holder/manage/self-custody.md
  docs/holder/recover/from-celo-address.md
  docs/holder/vote/validator.md
  docs/learn/developer-onboarding.md
  docs/learn/developer-tools.md
  docs/network/alfajores/index.md
  docs/network/mainnet/index.md
  docs/network/node/forno.md
  docs/protocol/bridge/optics-migration-v2.md
  docs/protocol/oracle/run.md
  docs/protocol/stability/granda-mento.md
  docs/validator/attestation.md
  docs/validator/index.md
  docs/validator/monitoring.md
  docs/validator/node-upgrade.md
  docs/wallet/index.md
  docs/wallet/ledger/to-metamask.md
Owners: @celo-org/devrel, @celo-org/devtooling, @celo-org/primitives, @celo-org/devopsre

fix: remove translations
  docusaurus.config.js
Owners: @celo-org/devrel

feat: pink colored icons
  src/pages/index.tsx
  static/img/homepage/icons/Archi_Black.svg
  static/img/homepage/icons/Archi_White.svg
  static/img/homepage/icons/Architechture_White.svg
  static/img/homepage/icons/Attestation_White.svg
  static/img/homepage/icons/CLI_White.svg
  static/img/homepage/icons/CeloCLI_Black.svg
  static/img/homepage/icons/CeloCLI_White.svg
  static/img/homepage/icons/CeloComposer_White.svg
  static/img/homepage/icons/ContractKit_White.svg
  static/img/homepage/icons/Migration_White.svg
  static/img/homepage/icons/NewToWeb3_White.svg
  static/img/homepage/icons/Node_Black.svg
  static/img/homepage/icons/Node_White.svg
  static/img/homepage/icons/Oracle_Black.svg
  static/img/homepage/icons/Oracle_White.svg
  static/img/homepage/icons/Protocol_Black.svg
  static/img/homepage/icons/Protocol_White.svg
  static/img/homepage/icons/Rainbow_White.svg
  static/img/homepage/icons/React-celo_Black.svg
  static/img/homepage/icons/React-celo_White.svg
  static/img/homepage/icons/Validator_White.svg
  static/img/homepage/icons/WhatIsCelo_White.svg
  static/img/homepage/icons/Whitepapers_White.svg
Owners: @celo-org/devrel

Added Tether to adapted tokens
  docs/protocol/transaction/erc20-transaction-fees.md
Owners: @celo-org/devrel

Added finality notes
  docs/protocol/consensus/index.md
Owners: @celo-org/devrel

Added finality notes (#1287)
  docs/protocol/consensus/index.md
Owners: @celo-org/devrel

Added Tether to adapted tokens (#1284)
  docs/protocol/transaction/erc20-transaction-fees.md
Owners: @celo-org/devrel

feat: add MiniPay Add Cash deeplink doc
  docs/developer/build-on-minipay/deeplinks.mdx
  sidebars.js
Owners: @celo-org/devrel

chore: add icons to homepage (#1274)
  src/pages/index.tsx
  static/img/homepage/icons/Architechture_White.svg
  static/img/homepage/icons/Attestation_White.svg
  static/img/homepage/icons/CLI_White.svg
  static/img/homepage/icons/CeloComposer_White.svg
  static/img/homepage/icons/ContractKit_White.svg
  static/img/homepage/icons/Migration_White.svg
  static/img/homepage/icons/NewToWeb3_White.svg
  static/img/homepage/icons/Node_White.svg
  static/img/homepage/icons/Oracle_White.svg
  static/img/homepage/icons/Protocol_White.svg
  static/img/homepage/icons/Rainbow_White.svg
  static/img/homepage/icons/React-celo_White.svg
  static/img/homepage/icons/Validator_White.svg
  static/img/homepage/icons/WhatIsCelo_White.svg
  static/img/homepage/icons/Whitepapers_White.svg
Owners: @celo-org/devrel

Added finality notes (#1287)
  docs/protocol/consensus/index.md
Owners: @celo-org/devrel

Added Tether to adapted tokens (#1284)
  docs/protocol/transaction/erc20-transaction-fees.md
Owners: @celo-org/devrel

chore: add icons to homepage (#1274)
  src/pages/index.tsx
  static/img/homepage/icons/Architechture_White.svg
  static/img/homepage/icons/Attestation_White.svg
  static/img/homepage/icons/CLI_White.svg
  static/img/homepage/icons/CeloComposer_White.svg
  static/img/homepage/icons/ContractKit_White.svg
  static/img/homepage/icons/Migration_White.svg
  static/img/homepage/icons/NewToWeb3_White.svg
  static/img/homepage/icons/Node_White.svg
  static/img/homepage/icons/Oracle_White.svg
  static/img/homepage/icons/Protocol_White.svg
  static/img/homepage/icons/Rainbow_White.svg
  static/img/homepage/icons/React-celo_White.svg
  static/img/homepage/icons/Validator_White.svg
  static/img/homepage/icons/WhatIsCelo_White.svg
  static/img/homepage/icons/Whitepapers_White.svg
Owners: @celo-org/devrel

chore: remove `/validator/attestation` link
  src/pages/index.tsx
Owners: @celo-org/devrel

Fix broken links (#1283)
  docs/community/contributing.md
  docs/community/release-process/attestation-service.md
  docs/community/release-process/celo-oracles.md
  docs/community/release-process/smart-contracts.md
  docs/developer/build-on-minipay/code-library.mdx
  docs/developer/contractkit/usage.md
  docs/developer/dappkit/index.md
  docs/developer/dappkit/setup.md
  docs/developer/dappkit/usage.md
  docs/developer/deploy/foundry.md
  docs/developer/dynamic/index.md
  docs/developer/index.md
  docs/developer/launch-checklist.md
  docs/developer/migrate/from-ethereum.md
  docs/developer/react-celo/index.md
  docs/developer/setup/wallet.md
  docs/developer/tools.md
  docs/developer/verify/foundry.md
  docs/developer/walkthrough/no-code-erc20.md
  docs/holder/manage/exchange.md
  docs/holder/manage/self-custody.md
  docs/holder/recover/from-celo-address.md
  docs/holder/vote/validator.md
  docs/learn/developer-onboarding.md
  docs/learn/developer-tools.md
  docs/network/alfajores/index.md
  docs/network/mainnet/index.md
  docs/network/node/forno.md
  docs/protocol/bridge/optics-migration-v2.md
  docs/protocol/oracle/run.md
  docs/protocol/stability/granda-mento.md
  docs/validator/attestation.md
  docs/validator/index.md
  docs/validator/monitoring.md
  docs/validator/node-upgrade.md
  docs/wallet/index.md
  docs/wallet/ledger/to-metamask.md
  docusaurus.config.js
  src/pages/index.tsx
Owners: @celo-org/devrel, @celo-org/devtooling, @celo-org/primitives, @celo-org/devopsre
